.depressionResultP1{
    display: flex;
}

.depressionScore{
    margin-top: 220px;
    margin-left: 970px;
   position: relative;
}



.depression_score_1,.depression_score_2{
    font-size: 25px;
    position: absolute;
    font-weight: 500;

    
}

.depression_score{
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
    margin-left: -260px;
    margin-top: 45px;
}

.depression_score_1{
    margin-left: -335px;
}

.depression_score_2{
    margin-left: -170px;
    margin-top: 55px;
}

.depressionResult{
    margin-top: 350px;
    margin-left: -748px;
}

.resultLine_{
    margin-top: 535px;
    margin-left: 140px;
    position: absolute;
}

.depressionTestComment1,.depressionTestComment2,.depressionTestComment3,.depressionTestComment4,.depressionTestComment5,.depressionTestComment6,.depressionTestComment7{
    position: absolute;
    font-size: 25px;
}


.depressionTestComment2{
    margin-top: 600px;
    margin-left: 235px;
    font-weight: 600;
}

.depressionTestComment3{
    margin-top: 640px;
    margin-left: 245px;
}

.depressionTestComment4{
    margin-top: 700px;
    margin-left: 225px;
    font-weight: 600;
}

.depressionTestComment5{
    margin-top: 740px;
    margin-left: 245px;
}

.depressionTestComment6{
    margin-top: 800px;
    font-weight: 600;
    margin-left: 225px;
}

.depressionTestComment7{
    margin-top: 840px;
    margin-left: 245px;
}

.resultLine__{
    margin-top: 940px;
    margin-left: 140px;
    position: absolute;
}

.otherTest1{
    margin-top: 1020px;
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
    margin-left: 620px;
}


.stressButton1{
    position: absolute;
    margin-top: 1000px;
    margin-left: -1080px;
    background-color: transparent;
    border-color: transparent;
}

.burnoutButton2{
    position: absolute;
    margin-top: 1000px;
    margin-left: -300px;
    background-color: transparent;
    border-color: transparent;
}