.stressP1{
    display: flex;
}

.indexStress{
    margin-top: 130px;
    font-size: 35px;
    font-weight: bolder;
    margin-left: 570px;
}

.depressionTestInfo{
    position: relative;
    margin-top: 230px;
}

.depressionTestInfo1{
     margin-left: -700px;
    position: absolute;
 
}

.depressionTestInfo2{
    position: absolute;
    margin-left: -320px;

}

.depressionTestInfo3{
    position: absolute;
    margin-left: 60px;

}

.testLine{
    margin-top: 360px;
    margin-left: 140px;
    position: absolute;
}

.stressQuestion{
    position: absolute;
    margin-top: 400px;
}


//q1
.stressq1Label{
    font-size: 23px;
    font-weight: 500;
    margin-left: 235px;
}

.stressR1{
   
    margin-left: 260px;
    margin-top: 30px;
}

.stressR1_{
    margin-left: 100px;
}

.StressR1{
    font-weight: 500;
    font-size: 19px;
}

//q2

.stressq2{
    margin-top: 50px;
}

.stressq2Label{
    font-size: 23px;
    font-weight: 500;
    margin-left: 235px;
}

.stressR2{
   
    margin-left: 260px;
    margin-top: 30px;
}

.stressR2_{
    margin-left: 100px;
}

.StressR2{
    font-weight: 500;
    font-size: 19px;
}

//R3
.stressq3{
    margin-top: 50px;
}

.stressq3Label{
    font-size: 23px;
    font-weight: 500;
    margin-left: 235px;
}

.stressR3{
   
    margin-left: 260px;
    margin-top: 30px;
}

.stressR3_{
    margin-left: 100px;
}

.StressR3{
    font-weight: 500;
    font-size: 19px;
}

//q4
.stressq4{
    margin-top: 50px;
}

.stressq4Label{
    font-size: 23px;
    font-weight: 500;
    margin-left: 235px;
}

.stressR4{
   
    margin-left: 260px;
    margin-top: 30px;
}

.stressR4_{
    margin-left: 100px;
}

.StressR4{
    font-weight: 500;
    font-size: 19px;
}


//q5
.stressq5{
    margin-top: 50px;
}

.stressq5Label{
    font-size: 23px;
    font-weight: 500;
    margin-left: 235px;
}

.stressR5{
   
    margin-left: 260px;
    margin-top: 30px;
}

.stressR5_{
    margin-left: 100px;
}

.StressR5{
    font-weight: 500;
    font-size: 19px;
}

.testLine_{
    margin-top: 30px;
    margin-left: 140px;
    position: absolute;
}

.test_nextButton{
    margin-top: 80px;
    margin-left: 590px;
    background-color: transparent;
    border-color: transparent;
}