.info3{
    display: flex;
    
  
}

.name3_box{
    margin-top: 180px;
    margin-left: 210px;
    position: relative;
}
.nameDisease3{
    font-weight: 800;
    font-size: 40px;
}
.EngnameDisease3{

    font-weight: 300;
    font-size: 30px;
}

.info3_box{
    margin-top: 280px;
    position: absolute;
    height: 1250px;
    width: 1200px;  
    margin-left: 170px;
}

.outline3{
    background-color: #6CFFCA;
    border-radius: 5px; 
     width: 85px;
     height: 45px;
     position: absolute;
     margin-top: 25px;
     margin-left: 35px;
   
}

.outlineBox3{
    position:absolute;
}

.Outline3{
    margin-top: 7px;
    margin-left: 19px;
    position: absolute;
    font-size: 23px;
    font-weight: 800;
}

.outlineComment3{
    width: 490px;
    height: 600px;
    margin-top: 100px;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    margin-left: 35px;
    line-height: 150%;
}

.symptomsBox3{
    position:absolute;
}

.symptoms3{
    background-color: #7CF7FF;
    border-radius: 5px; 
     width: 85px;
     height: 45px;
     position: absolute;
     margin-top: 25px;
     margin-left: 605px;
   
}

.Symptoms3{
    margin-top: 7px;
    margin-left: 19px;
    position: absolute;
    font-size: 23px;
    font-weight: 800;
}

.symptomsComment3{
    width: 500px;
    height: 240px;
    margin-top: 100px;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    margin-left: 605px;
    line-height: 150%;
}


.causeBox3{
    position:absolute;
    
}

.cause3{
    background-color: #A0CCFF;
    border-radius: 5px; 
     width: 85px;
     height: 45px;
     position: absolute;
     margin-top: 470px;
     margin-left: 605px;
   
}

.Cause3{
    margin-top: 7px;
    margin-left: 19px;
    position: absolute;
    font-size: 23px;
    font-weight: 800;
}

.causeComment3{
    width: 500px;
    height: 240px;
    margin-top: 545px;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    margin-left: 605px;
    line-height: 150%;
}


.infoLine3{
    margin-top: 990px;
    margin-left: 35px;
    
}

.happyBox3{
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border-color: white;
    border:none;
    font-size: 20px;
    font-weight: 800;
    margin-left: 30px;
    margin-top: 20px;
    position:absolute;
}

.badBox3{
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border-color: white;
    border:none;
    font-size: 20px;
    font-weight: 800;
    margin-left: 610px;
    position:relative;
    margin-top: 20px;
}

.goodComment3{
    width: 500px;
    height: 240px;
    margin-top: 20px;
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    margin-left: 35px;
    line-height: 150%;
}

.badComment3{
    width: 500px;
    height: 240px;
    margin-top: 20px;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    margin-left: 605px;
    line-height: 150%;
}
