.CommuMain {
  padding-top: 17vh;
  align-items: center;
}

.CommuTitle {
  margin-left: 17%;
  font-size: 22px;
  flex: 11;
}

.CommuBoard {
  font-size: 30px;
  margin-left: 12%;
  width: 76%;
  height: 480px;
  border: 3px solid;
  border-image: linear-gradient(to right, #6cffca, #7cf7ff);
  border-image-slice: 1;
  background-color: transparent;
}
.CommuContentBox {
  height: 450px;
  width: 97%;

  margin: 15px;
}

.CommuContent {
  height: 14%;
  margin: 10px;
  flex-direction: row;
}

.CommuFront {
  flex: 1;
  flex-direction: column;
}

.writeButton {
  background-image: url(../../../public/images/write_button.png);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}
