.CommuMain {
  padding-top: 15vh;
  align-items: center;
}

.CommuTitle {
  margin-left: 17%;
  font-size: 15px;
  flex: 11;
}

.CommuBoard {
  font-size: 30px;
  margin-left: 12%;
  width: 76%;
  height: 510px;
  border: 3px solid;
  border-image: linear-gradient(to right, #6cffca, #7cf7ff);
  border-image-slice: 1;
  background-color: white;
}
.CommuContentBox {
  width: 97%;
  position: relative;
  margin: 15px;
}

.CommuContent {
  height: 14%;
  margin: 10px;
  flex-direction: row;
}

.CommuFront {
  flex: 1;
  flex-direction: column;
}

.searchingBox {
  margin-left: 20px;
  height: 40px;
  width: 30%;
  border-image: linear-gradient(to right, #6cffca, #7cf7ff);
  background-color: #ffffff;
  border-radius: 60px;
  align-items: center;
  padding: 2px;

  z-index: -1;
  opacity: 1;
  display: flex;
}
.searchingInputBox {
  font-size: 15px;
  width: 83%;
  height: 36px;
  border: none;
  background-color: #ffffff;
  outline: none;
  appearance: none;
  text-align: left;
  margin-left: 20px;
  overflow: auto; //검색어가 길어졌을때 오른쪽으로 자연스럽게 검색되도록 하기 위해
  z-index: 1;

  & + & {
    margin-top: 1rem;
  }
}
.write {
  height: 50px;
  margin-top: 10px;
  width: 30%;
  text-align: end;
  flex-direction: column;
  :hover {
    cursor: pointer;
  }
}
.writeButton {
  height: 50px;
  margin-right: 30px;
  width: 30%;
  background-image: url(../../../images/write_button.png);
  background-size: contain;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.WriteTop {
  width: 1100px;
  padding: 5px;
  margin: 10px;
  margin-left: 30px;
  border: 1px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
}

.titleBox {
  height: 35px;
  width: 950px;
  border: none;
  background-color: #ffffff;
  outline: none;
  appearance: none;
  text-align: left;
  margin-left: 20px;
  box-shadow: 2px 1px 8px -5px;
  border-radius: 2px;
}
