.burnoutResultP1{
    display: flex;
}

.burnoutScore{
    margin-top: 220px;
    margin-left: 970px;
   position: relative;
}



.burnout_score_1,.burnout_score_2{
    font-size: 25px;
    position: absolute;
    font-weight: 500;

    
}

.burnout_score{
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
    margin-left: -260px;
    margin-top: 45px;
}

.burnout_score_1{
    margin-left: -335px;
}

.burnout_score_2{
    margin-left: -170px;
    margin-top: 55px;
}

.burnoutResult{
    margin-top: 350px;
    margin-left: -748px;
}

.resultLine_{
    margin-top: 535px;
    margin-left: 140px;
    position: absolute;
}

.burnoutTestComment1,.burnoutTestComment2,.burnoutTestComment3,.burnoutTestComment4,.burnoutTestComment5,.burnoutTestComment6,.burnoutTestComment7{
    position: absolute;
    font-size: 25px;
}


.burnoutTestComment2{
    margin-top: 600px;
    margin-left: 235px;
    font-weight: 600;
}

.burnoutTestComment3{
    margin-top: 640px;
    margin-left: 245px;
}

.burnoutTestComment4{
    margin-top: 750px;
    margin-left: 225px;
    font-weight: 600;
}

.burnoutTestComment5{
    margin-top: 790px;
    margin-left: 245px;
}

.burnoutTestComment6{
    margin-top: 900px;
    font-weight: 600;
    margin-left: 225px;
}

.burnoutTestComment7{
    margin-top: 940px;
    margin-left: 245px;
}

.resultLine__{
    margin-top: 1030px;
    margin-left: 140px;
    position: absolute;
}

.otherTest1{
    margin-top: 1100px;
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
    margin-left: 620px;
}


.stressButton1{
    position: absolute;
    margin-top: 1080px;
    margin-left: -1080px;
    background-color: transparent;
    border-color: transparent;
}

.depressionButton1{
    position: absolute;
    margin-top: 1080px;
    margin-left: -300px;
    background-color: transparent;
    border-color: transparent;
}