

.testLine{
    margin-top: 360px;
    margin-left: 140px;
    position: absolute;
}

.burnoutQuestion{
    position: absolute;
    margin-top: 400px;
}


//q1
.burnoutq1Label{
    font-size: 23px;
    font-weight: 500;
    margin-left: 235px;
}

.burnoutR1{
   
    margin-left: 260px;
    margin-top: 30px;
}

.burnoutR1_{
    margin-left: 100px;
}

.BurnoutR1{
    font-weight: 500;
    font-size: 19px;
}

//q2

.burnoutq2{
    margin-top: 50px;
}

.burnoutq2Label{
    font-size: 23px;
    font-weight: 500;
    margin-left: 235px;
}

.burnoutR2{
   
    margin-left: 260px;
    margin-top: 30px;
}

.burnoutR2_{
    margin-left: 100px;
}

.BurnoutR2{
    font-weight: 500;
    font-size: 19px;
}

//R3
.burnoutq3{
    margin-top: 50px;
}

.Burnoutq3Label{
    font-size: 23px;
    font-weight: 500;
    margin-left: 235px;
}

.burnoutR3{
   
    margin-left: 260px;
    margin-top: 30px;
}

.burnoutR3_{
    margin-left: 100px;
}

.BurnoutR3{
    font-weight: 500;
    font-size: 19px;
}

//q4
.Burnoutq4{
    margin-top: 50px;
}

.burnoutq4Label{
    font-size: 23px;
    font-weight: 500;
    margin-left: 235px;
}

.burnoutR4{
   
    margin-left: 260px;
    margin-top: 30px;
}

.burnoutR4_{
    margin-left: 100px;
}

.BurnoutR4{
    font-weight: 500;
    font-size: 19px;
}


//q5
.burnoutq5{
    margin-top: 50px;
}

.burnoutq5Label{
    font-size: 23px;
    font-weight: 500;
    margin-left: 235px;
}

.burnoutR5{
   
    margin-left: 260px;
    margin-top: 30px;
}

.burnoutR5_{
    margin-left: 100px;
}

.BurnoutR5{
    font-weight: 500;
    font-size: 19px;
}


//q6
.burnoutq6{
    margin-top: 50px;
}

.burnoutq6Label{
    font-size: 23px;
    font-weight: 500;
    margin-left: 235px;
}

.burnoutR6{
   
    margin-left: 260px;
    margin-top: 30px;
}

.burnoutR6_{
    margin-left: 100px;
}

.BurnoutR6{
    font-weight: 500;
    font-size: 19px;
}

.testLine_{
    margin-top: 30px;
    margin-left: 140px;
    position: absolute;
}

.test_nextButton{
    margin-top: 80px;
    margin-left: 590px;
    background-color: transparent;
    border-color: transparent;
}