.testTitle {
  padding-top: 20vh;
  font-size: 33px;
  font-family: NanumSquare Neo;
  text-align: center;
}

.testLink {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}
