.blur {
    position: absolute;
    margin-left: 100px;
    margin-top: -250px;
  }
  
  .blur1 {
    position: absolute;
    margin-left: -250px;
    margin-top: 50px;
  }
  
  .blur2 {
    position: absolute;
    margin-left: -320px;
    margin-top: -250px;
  }